.mainnav {
    border-bottom-style: inset;
    width: 90%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: gainsboro 1px solid;
    margin-top: -7px;
    margin-left: -10px;
    padding-left: 162px;
}

.nav-a {
    text-decoration: none;
    color: rgba(0, 0, 161, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: block;
}

.login-a {
    text-decoration: none;
    color: rgba(0, 0, 161, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: block;
}

.welcomebody {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.logo-img {
    margin-top: -13px;
    max-width: 426px;
    max-height: 426px;
    object-fit: contain;
}